body {
  font-family: "Jost", sans-serif;
  background-color: #00CCFF; }

h1, h2, h3 {
  font-family: "Jost", sans-serif; }

h2 {
  color: #00CCFF; }

header h2 {
  color: #ffffff; }

.site-footer {
  background-image: linear-gradient(#ffffff, white);
  padding: 20px 0; }

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #5637dd, #00CCFF, #60106b);
  color: white; }

.petbutton {
  color: #00CCFF; }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.navbar {
  background-color: #901CAD; }

a, a:hover {
  color: inherit;
  text-decoration: none; }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }

.carousel {
  border: solid #5637dd; }

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100; }
